<div class="main-header">
  <div class="logo" routerLink="">MY BLOG</div>
  <ul nz-menu [nzMode]="'horizontal'" class="header-nav">
    <li nzSelected="true" nz-menu-item><a routerLink="/blog/latest">首页</a></li>
    <li nz-menu-item><a routerLink="/blog/frontend">前端</a></li>
    <li nz-menu-item><a routerLink="/blog/backend">后端</a></li>
    <li nz-menu-item><a routerLink="/blog/others">其他</a></li>
    <li nz-menu-item><a routerLink="/admin">后台</a></li>
  </ul>
  <div class="header-right">
    <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
      <input type="text" nz-input placeholder="搜索">
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch><i class="anticon anticon-search"></i></button>
    </ng-template>
  </div>
</div>