.dashboard-nav-container{
  width: 20%;
  max-width: 230px;
}
.data-table-container{
  flex: 1;
  background: #fff;
  min-height: calc(100vh - 60px);
}
.create-post-container{
  flex:1;
  background: #fff;
  padding: 30px 20px;
  overflow: auto;
  min-height: calc(100vh - 60px);
}
.table-operation{
  text-align: right;
  padding: 10px;
}
.upload-img{
  width: 100%;
}