.bg-header {
 width: 100vw;
 height: 47px;
 background-color: #abdcff;
}

.header-content {
 display: flex;
 align-items: center;
 max-width: 1024px;
 margin: 0 auto;
 justify-content: space-between;
}

.bg-menu {
 max-width: 1024px;
 background-color: #abdcff;
}

.bg-header .search {
 width: 200px;
}
