.header{
  background-color: #ffffff;
  border-bottom: 1px solid #f1f1f1;
}
.container{
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  min-height: calc(100vh - 64px - 69px);
}
.page-container{
  margin-top: 3.6rem;
}