.header-container{
  background-color: #fff;
  height: 60px;
  margin-bottom: 20px;
}
.header{
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 960px;
  padding: 0 20px;
  .left-content{
    flex: 1;
  }
}
.header-logo{
  margin-right: 30px;
}
